.board {
    border-collapse: collapse;
    margin: auto;
}
.dice{
    min-width: 1em;
    font-size: 1.5em;
    text-align: center;
    font-family: sans-serif;
}

td {
    border: 1px solid black;
    width: 1em;
    height: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
}

.board td :hover{
    cursor: default;
}

.playable {
    background-color: #ddd;
}

.notplayable {
    border: none
}
.square.occupying1 div, .notplayable.house.occupying1, .dice.occupying1 {
    background-color: red;
    color: white;
}

.square.occupying2 div, .notplayable.house.occupying2, .dice.occupying2 {
    background-color: green;
    color: white;
}

 .square.occupying3 div, .notplayable.house.occupying3, .dice.occupying3 {
    background-color: yellow;
}

.square.occupying4 div, .notplayable.house.occupying4, .dice.occupying4 {
    background-color: blue;
    color: white;
}
.moving.notplayable.house.occupying1 {
    background-color: #800003;
}

.moving.notplayable.house.occupying2 {
    background-color: #004f00;
}

.moving.notplayable.house.occupying3 {
    background-color: #bfbf00;
}

.moving.notplayable.house.occupying4 {
    background-color: #00006c;
}
.moving div{
	border: 1px solid black;
}
.notplayable.house{
	border: 1px solid black;
}
.prevOccupyingPlayer div, .occupyingPlayer div{
   border-radius: 50%; 
}
.square.occupying5 div{
    background-color: black;
    border-radius: 0%; 
}
.square.lastMoved div{
	border: 1px solid black;
}
.moving.occupying1, .reachable1, .prevOccupying1 div, .square.house.prevOccupying1, .playerSetWall1 {
    background-color: #f88;
}

.moving.occupying2, .reachable2, .prevOccupying2 div, .square.house.prevOccupying2, .playerSetWall2 {
    background-color: #8f8;
}

.moving.occupying3, .reachable3, .prevOccupying3 div, .square.house.prevOccupying3, .playerSetWall3 {
    background-color: #ff8;
}

.moving.occupying4, .reachable4, .prevOccupying4 div, .square.house.prevOccupying4, .playerSetWall4 {
    background-color: #88f;
}
.square{
	padding:4px;
}
.square div{
	width:100%;
	height:100%;
}

.boardnotation input{
    width:90%;
}

.playable.occupying0.movingwall:hover{
    background-color: gray;
}
button{
	vertical-align: middle;
}